# Hugging Face embeddings model repository ID
EMBEDDINGS_HF_REPO_ID=intfloat/e5-small

# Hugging Face LLM model repository ID
LLM_HF_REPO_ID=TheBloke/OpenHermes-2.5-Mistral-7B-GPTQ

# Embeddings args
TEI_ARGS=--max-client-batch-size 64

# LLM args
VLLM_ARGS=--quantization gptq --dtype half --tensor-parallel-size 1 --gpu-memory-utilization 0.4

# models cache directory
MODELS_CACHE_DIR=

# docker-compose project name
COMPOSE_PROJECT_NAME=albert-models

# to protect the API, you can set a secret key (optional)
API_KEY=mysecretkey

# to download private model on Huggingface (optional)
HF_TOKEN=
